.carcontent {
    border: solid 3px #3C009d;
    height: 880px;
    width: 350px;
    margin-top: 3%;
    margin-left: 38%;
    padding-top: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

.carcontent.error-border {
    height: 1050px;
}

.carcontent input[type=text] {
    width: 80%;
    height: 40px;
}

.carcontent input[type=file] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
    width: 80%;
    background-color: whitesmoke;
}

.carcontent .backbutton {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 10px;
    font-size: large;
}

.contactcontent {
    position: relative;
}
